/* WRAPPER */
.hero-wrapper {
  padding: 40px 80px;
  font-family: sans-serif;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 28px;
  border-radius: 14px;

  background: linear-gradient(135deg, #f826ff, #52c4f8);
  

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  margin: 20px auto 60px;
  width: 90%;
  max-width: 1200px;

  transition: all 0.3s ease;
}

.nav:hover {
  box-shadow: 0 6px 28px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

.nav a {
  color: rgb(255, 31, 31);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.2s ease;
}

.nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}


.logo {
  font-size: 32px;
  font-weight: 700;
}

/* NAV ACTIONS */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-btn {
  padding: 10px 24px;
  border-radius: 10px;
  border: 1px solid #d0d0d0;
  background: white;
  font-size: 15px;
  cursor: pointer;
}

.globe {
  font-size: 30px;
  cursor: pointer;
}

.menu-icon {
  width: 26px;
  cursor: pointer;
}
.menu-icon div {
  width: 24px;
  height: 3px;
  background: black;
  margin: 4px 0;
  border-radius: 2px;
}

/* HERO MAIN SECTION */
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */
.hero-left {
  max-width: 500px;
}

.hero-title {
  font-size: 52px;
  font-weight: 800;
  line-height: 1.2;
}

.hero-sub {
  color: #6b7280;
  font-size: 17px;
  margin-top: 18px;
  margin-bottom: 35px;
  max-width: 80%;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.explore-btn {
  padding: 14px 28px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  background: linear-gradient(40deg, #d141a1, #0ea5e9);
  color: white;
}

.creator-link {
  background: none;
  border: none;
  font-size: 20px;
  color: #0ea5e9;
  cursor: pointer;
}



.circle-img {
  width: 480px;
  height: 480px;
  object-fit: cover;
  border-radius: 50% / 35%;

  filter: drop-shadow(0 0 60px rgba(94, 0, 255, 0.35));
  animation: wobble 6s ease-in-out infinite;
}

@keyframes wobble {
  0%, 100% { border-radius: 50% 40% 60% 50% / 60% 50% 40% 50%; }
  50% { border-radius: 40% 60% 50% 70% / 50% 60% 40% 60%; }
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .hero-right {
    grid-template-columns: repeat(3, 1fr);
  }
}
